.display {
  height: 100px;
  background-color: rgb(185, 199, 188);
  font-size: 48px;
  padding: 4px;
  border-radius: 5px;
  overflow: hidden;
}

.buttons {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(4, 85px);
  grid-auto-rows: minmax(75px, auto);
  gap: 8px;
  margin-left: 25px;
}

#equ {
  background-color: coral;
}

#clear {
  grid-column: span 4;
}

.btn {
  height: 75px;

  font-size: 32px;
  background-color: rgb(56, 55, 55);
  color: white;
  border-radius: 4px;
}

.op {
  background-color: cornflowerblue;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(100, 99, 98);
  width: 425px;
  margin: auto;
  padding: 10px;
  border-radius: 9px;
}
